:root {
  --primary-color: #e14a34;
  --secondary-color: #ece7db;
}

body {
  margin: 0 0 80px 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Lora", serif;
  font-size: 60px;
}

p {
  padding: 40px;
  width: 75%;
  text-align: center;
}

img {
  border: 2px solid var(--primary-color);
  border-radius: 25px;
  width: 75%;
  height: auto;
}

.links {
  margin: 30px 0;
}

.links a {
  text-decoration: none;
  margin: 20px;
  color: var(--primary-color);
  padding: 5px;
}

.links a:hover {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px;
}

p a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 5px;
}

p a:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: 4px;
}
